@{
    ViewBag.Title = "NotFound";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Para obtener más información sobre ASP.NET MVC, visite
                <a href="http://asp.net/mvc" title="Sitio web de ASP.NET MVC">http://asp.net/mvc</a>.
                La página incluye <mark>vídeos, cursos y ejemplos</mark> para ayudarle a sacar el máximo partido a ASP.NET MVC.
                Si tiene alguna pregunta relacionada con ASP.NET MVC, visite
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="Foro de ASP.NET MVC">nuestros foros</a>.
            </p>
        </div>
    </section>
}

<h1>La informacion que buscaba no puede ser encontrada</h1>
<h2>Detalles</h2>
<ul>
    <li><b>Codigo de Error: </b>@ViewBag.ErrorCode</li>
    <li><b>Descripcion:</b>@ViewBag.Description</li>
    

    <center><img src="~/Content/triste.jpg" width="300" height="200"/></center>
    <center><input type="button" value="Regresar" onclick="window.location.href = 'http://localhost:49174/'" /></center>

</ul>
