@{
    ViewBag.Title = "Index";
}

<h2>Indice</h2>



<br />
@Html.ActionLink("AutoProperty", "AutoProperty")
<br />
@Html.ActionLink("CreateCollection", "CreateCollection")
<br />
@Html.ActionLink("UseExtension", "UseExtension")